
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");



* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: relative;
  left: 0;
  top: 0;
  width: 1005;
  height: 80px;
}
header h4 {
position: absolute; left: 10%;
bottom: 1em;
font-size: 1.6rem;}



.logo-active{

bottom: 0;
opacity: 1;
transform: ease-in-out 0.5s;

}



.rightc{
  position: relative;
  width: 230px;
  background-color: var(--container-color);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 2rem;
  overflow: hidden;
  flex-direction: row;
}


.old__overlay {
  width: 250px;
  height: 250px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -.65rem;
  z-index: 0;
}


.lol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
  max-width: 1200px;
  

}

@media (min-width: 150px) {
  .lol { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 200px) {
  .lol { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 250px) {
  .lol { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 300px) {
  .lol { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
  .lol { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 900px) {
  .lol { grid-template-columns: repeat(3, 1fr); }
}




.section__title2 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
  position: relative;
  padding: 4rem;
}


.section__title1 {
  font-size: var(--h2-font-size);
  text-align: center;
  position: relative;
}








  .clasasa {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .row {
    display: flex;
 }
  .row .col {
    flex: 1;
 }

 /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
 }
  .tab {
    width: 100%;
    color: var(--first-color);;
    overflow: hidden;
 }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: white;
    font-weight: bold;
    cursor: pointer;
   /* Icon */
 }
  .tab-label:hover {
    background: whitesmoke;
 }
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
 }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: white;
    background: var(--first-color);;
    transition: all 0.35s;
 }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: white;
    cursor: pointer;
 }
  .tab-close:hover {
    background: gainsboro;
 }
  input:checked + .tab-label {
    background: white;
 }
  input:checked + .tab-label::after {
    transform: rotate(90deg);
 }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
 }
  
  
 .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-2 {
  grid-column: 2 / 3;
}

.col-3 {
  grid-column: 3 / 4;
}

@media (max-width: 767px) { 
  .col-1, .col-2, .col-3 {
    grid-column: 1 / 4; 
  }
}






.search-box {
  position: absolute;
  top:75%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 40px;
  height: 40px;
  background: #ffffff;
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}



.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  font-size: 1rem;
  width: 0px;
}

.search-btn {
  color: #000000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
}






:root {
  --header-height: 3.5rem;

 
 
  --first-color: hsl(355, 70%, 54%);
  --first-color-alt: hsl(355, 66%, 50%);
  --title-color: hsl(355, 70%, 54%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-light: hsl(355, 4%, 55%);
  --body-color: #EAD7C6;
  --container-color: #fff;

 
 
  --body-font: 'Poppins', sans-serif;

  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

 
  --font-medium: 500;
  --font-semi-bold: 600;

 
 
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

 
  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}


.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 1rem 0 0.3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
  margin-top: 4rem;
}


@media (max-width: 480px) {
  .section__title {
    padding: 6rem 0 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (width: 200px) {
  .section__title {
    padding: 6rem 0 1rem;
  }
}

@media (width: 250px) {
  .section__title {
    padding: 6rem 0 1rem;
  }
}


.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__close, 
.nav__toggle {
  color: var(--text-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium);
}

.nav__logo-img {
  width: 4rem;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
    transition: .4s;
  }
} 

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover {
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--first-color)
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  cursor: pointer;
}


.show-menu {
  top: 0;
}


.scroll-header {
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}



.home__title {
  font-size: var(--h2-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-0-5);
  position: relative;
  left: 50%;
  color: #fff;
  margin-top: 10rem;
}
@media (min-width: 100px) {
  .home__title, .button2 , .home__description { left:0; }
}
@media (min-width: 500px) {
  .home__title, .button2 , .home__description { left:0; }
}
@media (min-width: 600px) {
  .home__title, .button2 , .home__description { left:0; }
}
@media (min-width: 700px) {
  .home__title, .button2 , .home__description { left:0;  }
}
@media (min-width: 750px) {
  .home__title, .button2 , .home__description { left:50%; }
}



@media (min-width: 100px) {
  .home__title, .button2 , .home__description { top:0rem; }
}
@media (min-width: 500px) {
  .home__title, .button2 , .home__description { top:0rem; }
}
@media (min-width: 600px) {
  .home__title, .button2 , .home__description { top:0rem;}
}
@media (min-width: 700px) {
  .home__title, .button2 , .home__description { top:0rem;  }
}
@media (min-width: 750px) {
  .home__title, .button2 , .home__description { left:50%; }
}



.home__description {
  font-size: var(--small-font-size);
  padding: 0 2rem;
  margin-bottom: var(--mb-2-5);
  position: relative;
}

.button2{
  position: relative;
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.8rem 2rem;
  font-weight: var(--font-medium);
  border-radius: 3rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}



.button3{
  margin-left: 2.5rem;

}


















.celebrate__container {
  row-gap: rem;
}

.celebrate__data {
  text-align: center;
}
.celebrate__data2{
  float: right;
  
}

.celebrate__title {
  margin-bottom: 2.5rem;

}

.celebrate__description {
  margin-bottom: var(--mb-2-5);
}
.celebrate__description2 {
  margin-bottom: var(--mb-2-5);
}






.slideshow {

  width: 400px;
  height: 350px;
  justify-self: left;
  border-radius: 55px;
  
}

#slideimage {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
#slideimage2 {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
.celebrate__img2 {
  width: 400px;
  height: 350px;
  justify-self: right;
  border-radius: 55px;
}
.celebrate__img3 {
  width: 400px;
  height: 350px;
  justify-self: left;
  border-radius: 55px;
}

.author-nav {
  padding: 20px;
  border-radius: 10px;
  

}
.author-nav ul li a:hover {
  background-color: var(--first-color);
  border-radius: 10px;
  
}
.author-nav ul li ul li a:hover {
  background-color: gainsboro;
}
.author-nav ul li a:active{
  background-color: var(--first-color);
  border-radius: 10px;
  
}

.author-nav ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  max-height: 100vh;
  
  
  
}

.author-nav ul ul {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
  
}

.author-nav ul li:hover > ul {
  display: inherit;
  
}


.author-nav ul ul ul {
  left: 100%;
  top: 0;
  
}

.author-nav ul li {
  float: left;
  display: inline-block;
  padding: 7px;
  padding-left: 1rem;
  position: relative;
  font-size: 18px;

}

.author-nav a {
  display: block;
  padding: 3px ;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  
}


.author-nav ul ul ul a {
  padding: 5px;
  font-size: 16px;
  
  
}
.author-nav{
  position: relative;
  
  
}


@media (min-width: 100px) {
  .author-nav ul li { padding-left: 0rem; }
}
@media (min-width: 500px) {
  .author-nav ul li { padding-left: 0rem; }
}
@media (min-width: 600px) {
  .author-nav ul li { padding-left: 1rem; }
}
@media (min-width: 700px) {
  .author-nav ul li { padding-left: 1rem; }
}

@media (min-width: 100px) {
  .author-nav { top: 3rem; }
}
@media (min-width: 500px) {
  .author-nav { top: 3rem; }
}





.gift__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  
}

.gift__card {
  display: grid;
  position: relative;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1.5rem 1rem 1rem;
  border-radius: .75rem;
}

.gift__img {
  width: 100px;
  justify-self: center;
  margin-bottom: var(--mb-0-25);
  transition: .3s;
}

.gift__icon {
  font-size: 1.25rem;
  color: var(--first-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.gift__price {
  font-size: var(--h3-font-size);
}

.gift__title {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}

.gift__card:hover .gift__img {
  transform: translateY(-.25rem);
}


.new__card {
  position: relative;
  width: 230px;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
}
.home__container {
  margin-top: 5rem;
  padding-top: 8rem;
  row-gap: 3rem;
  background-image: url("../img/main.jpg");
  padding: 2.5rem 0rem 2.5rem;
  border-radius: 4rem;  
  margin-right: 5rem;
  height:29rem;
  text-align: center;
  background-position: center;
  background-size: 100% 100%;

  margin-right: 10rem;
  margin-left: 10rem;
}
.new__overlay {
  width: 250px;
  height: 250px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -.65rem;
  z-index: 0;
}

.new__img {
  position: relative;
  width: 150px;
  height: 230px;
  margin-bottom: var(--mb-2);
  transition: .3s;
}

.new__price {
  font-size: var(--h2-font-size);
}

.new__title {
  font-weight: var(--font-medium);
}

.new__button {
  display: flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: white;
}
.bx.bxs-heart {
  color: red;
}

.new__icon {
  font-size: 1.25rem;
}

.new__card:hover .new__img {
  transform: translateY(-.5rem);
}


.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}


.message__container {
  row-gap: 3rem;
  background-color: var(--first-color);
  margin: 0;
  border-radius: 1.25rem;
}
.message__form {
  text-align: center;
}

.message__title {
  color: #fff;
  margin-bottom: var(--mb-1);
}

.message__input {
  width: 67%;
  background: #fff;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  margin-bottom: var(--mb-1);
}

.message__button {
  background-color: #000;
  width: 100%;
}

.message__button:hover {
  background-color: #000;
}

.message__img {
  width: 240px;
  justify-self: left;
  transform: rotate(15deg);
  margin-left: 10rem;
}

.footer {
  margin-top: 2rem;
  overflow: hidden;
}

.footer__container {
  position: relative;
  row-gap: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.footer__logo-img {
  width: 1.5rem;
}

.footer__description {
  font-size: var(--small-font-size);
}

.footer__logo, 
.footer__title {
  margin-bottom: var(--mb-1);
}

.footer__title {
  font-size: var(--h3-font-size);
}

.footer__links, 
.footer__aviables {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}
.footer__left{
margin-left: 10rem ;


}

.footer__link {
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--text-color);
}

.footer__aviable-img {
  width: 100px;
  cursor: pointer;
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__img1, 
.footer__img2 {
  position: absolute;
  width: 100px;
}

.footer__img1 {
  top: 25%;
  right: 2rem;
}

.footer__img2 {
  top: 75%;
  right: -4rem;
}



::-webkit-scrollbar {
  width: .6rem;
  background: hsl(355, 8%, 44%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(355, 32%, 17%);
  border-radius: 1rem;
}
@media screen and (min-width: 320px) {
  .home__container{
    margin-right: 0rem;
    margin-left: 0rem;

  }
}



@media screen and (max-width: 320px) {
  .home__container{
    margin-right: 0rem;
    margin-left: 0rem;

  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .giving__container {
    gap: 1rem;
  }

  .gift__container {
    grid-template-columns: 150px;
    justify-content: center;
  }
}


@media screen and (min-width: 576px) {
  .home__container{
    margin-right: 2rem;
    margin-left: 2rem;

  }
  .home__description {
    padding: 0 8rem;
  }

  .giving__container {
    grid-template-columns: repeat(2, 142px);
    justify-content: center;
    gap: 2.5rem 3.5rem;
  }

  .celebrate__description {
    padding: 0 4rem;
  }
  .celebrate__description2 {
    padding: 0 4rem;
  }
  .gift__container {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
    gap: 2rem;
  }

  .message__input,
  .message__button {
    width: 60%;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .home__container{
    margin-right: 5rem;
    margin-left: 5rem;

  }
  body {
    margin: 0;
  }
  .section {
    padding: 2rem 0 0.3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle, 
  .nav__close, 
  .nav__img {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }


  .home__container,
  .celebrate__container,
  .message__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: end ;
  }
  .home__description {
    padding: 0;
  }

  .giving__container {
    grid-template-columns: repeat(3, 142px);
    column-gap: 5rem;
  }

  .celebrate__data, 
  .celebrate__title{
    text-align: initial;
  }
  .celebrate__title2{
    text-align: left;
    padding: 0 0 0 2.7rem;
  }
  .celebrate__description {
    padding: 0;
  }
  .celebrate__description2 {
    padding: 0 0 0 2.7rem;
  }

  .gift__container {
    grid-template-columns: repeat(3, 200px);
    gap: 2.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (min-width: 992px) {
  .home__container{
    margin-right: 6rem;
    margin-left: 6rem;

  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }
  .home__description {
    padding-right: 8rem;
  }

  .giving__container {
    column-gap: 8rem;
    padding-top: 2rem;
  }
  .giving__img {
    width: 120px;
  }

  .celebrate__img {
    width: 450px;
  }
  .celebrate__description {
    padding-right: 7rem;
  }

  .gift__container {
    padding-top: 2rem;
  }
  .gift__card {
    padding: 2rem 1.5rem 1.5rem;
  }
  .gift__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }
  .gift__title {
    font-size: var(--small-font-size);
  }

  .new__container {
    padding-top: 2rem;
  }
  .new__card {
    margin-bottom: 5rem;
  }
  .new__price {
    font-size: var(--h3-font-size);
  }

  .message__container {
    padding: 1rem 0;
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem;
    justify-content: center;
  }

  .message__form {
    text-align: initial;
  }
  .message__title {
    font-size: var(--h2-font-size);
  }
  .message__input {
    display: block;
    width: 280px;
  }
  .message__button {
    width: initial;
  }


  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__copy {
    margin-top: 7rem;
  }
  .footer__img1, 
  .footer__img2 {
    width: 120px;
  }
  .footer__img1 {
    top: 100%;
    left: 0;
  }
  .footer__img2 {
    top: 40%;
    right: -7rem;
  }
  
  .scrollup {
    right: 3rem;
  }
}



